.App {
  text-align: center;
}

.container{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-bar{
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer-bar{
  background-color: white;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}
.container-project{
  margin : 10vh 0 10vh 0;
  padding: 0 20%;
  text-align: left;
  white-space: pre-line;  
  vertical-align: bottom;
  font-size: calc(7px + 2vmin);;
}


*{
  font-family: "Titillium Web";
}

p,h3 {
  display: inline;
}

hr{
  color: color;
  background-color: black;
  height: 5;
  width : 80vw;
  text-align: start;
}
